#download-button {
    width: 260px;
    height: 70px;
    margin: 4px;
    padding: 0;
    line-height: 70px;
    font-size: 18px;
    font-weight: 400;
}

.body-wrapper {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    
    
}